DATABASE_URL=******localhost:5432/black_whale
REDIS_URL=redis://localhost:6379
SESSION_SECRET=change_me_in_production
PORT=3001
NODE_ENV=development
# STORAGE_BUCKET=
# STORAGE_ENDPOINT=
# SEARCH_URL=http://localhost:7700
# SENTRY_DSN=
